.column {
    flex: 1;
}

header {
    text-align: right;
    margin-right: 40px;

    a {
        font-size: 22px;
        text-decoration: none;
        margin-left: 22px;
    }

    @media screen and (max-width: $break-large) {
        margin-right: 0px;

        a {
            font-size: 16px;
            margin-left: 12px;
        }
    }
}

main {
    display: flex;
    margin-top: 5vh;

    .column.left {
        text-align: center;
        max-width: 50%;
    }

    .column.right {
        h1 {
            margin-left: -10px;
            /* Correction for margin of leftmost character. */
            margin-bottom: 0.4em;
        }

        h2 {
            margin-left: -4px;
            /* Correction for margin of leftmost character. */
            margin-top: 0;
        }

        .links {
            margin-top: 2.5rem;
            font-size: 1.5rem;

            a {
                margin-right: 0.5rem;
                text-decoration: none;
            }

            img {
                width: 34px;
                height: 34px;
            }
        }
    }

    @media screen and (max-width: $break-large) {
        flex-direction: column;
        margin-top: 0;

        .column.left {
            text-align: center;
            max-width: 100%;
        }

        .column.right {
            text-align: center;
        }

        .column.right h1 {
            margin-top: 0;
        }

        img.portrait {
            margin: 0;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        img.logo {
            margin: 1em 2em;
            width: 42%;
        }
    }
}

.apps {
    margin-top: 25px;
    text-align: center;

    p {
        // padding-left: 90px;
        font-size: x-large;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .row {
        display: flex;
        justify-content: center;
        column-gap: 60px;

        .app {
            text-decoration: none;

            img {
                width: 120px;
            }
        }
    }
}

footer {
    display: flex;
    margin-top: 7rem;
    font-size: 0.75rem;
    justify-content: center;

    @media screen and (max-width: $break-large) {
        // flex-direction: column;
    }
}