#blog {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 36pt;
        text-align: center;
    }

    hr {
        border: 0;
        border-top: 1px solid #fff;
        margin: 25px 0px 25px 0px;
    }

    .posts {
        max-width: 560px;

        .post {
            margin: 10px;

            a {
                text-decoration: none;
            }

            .title {
                font-size: 30px;
                font-weight: bold;
            }

            .date {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.7);
            }

            .summary {
                margin-left: 1px;
                font-size: 16px;
            }

            .tags {
                margin-top: 2px;
                margin-bottom: 3px;
                display: flex;

                .tag {
                    background-color: #5b5b8a7a;
                    margin-right: 2px;
                    border-radius: 18px;
                    padding: 1px 6px 1px 6px;
                    font-size: 10px;
                }

            }
        }
    }
}