#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
        width: 26%;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 30pt;
        margin-bottom: 5px;
    }

    .label {
        margin: 0px;
        display: flex;
        height: 46px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }

    .field {
        width: 100%;

        border-radius: 8px;
        border: 1px solid #FFF;
        background: #D9D9D9;

        color: #414141;

        font-family: 'Montserrat';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    input {
        height: 39px;
    }

    textarea {
        height: 100px;
    }

    button {
        width: 132px;
        height: 39px;
        margin-top: 30px;

        border-radius: 8px;
        border: 1px solid #FFF;
        background-color: transparent;

        color: white;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        cursor: pointer;
    }
}