$color-background: #6fb7cd;
$color-foreground: #FFF;
$color-hover: #333;

@import 'hallo/variables';
@import 'hallo/base';
@import 'hallo/layout';
@import 'contact';
@import 'blog';
@import 'blog_page';