$color-background: #353069;
$color-foreground: white;
$color-hover: #8c8c8c;

@import 'hallo/variables';
@import 'hallo/base';
@import 'hallo/layout';
@import 'contact';
@import 'blog';
@import 'blog_page';
@import 'code';