<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ config.title }}</title>
    <meta name="description" content="{{config.description}}">

    <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

    <script src="https://cdn.usefathom.com/script.js" data-site="TSUIPVAW" defer></script>
</head>

<body>
    <header>
        <a href="{{ get_url(path='@/_index.md') }}">HOME</a>
        <a href="{{ get_url(path='@/_index.md') }}#games">GAMES</a>
        <a href="{{ get_url(path='@/blog/_index.md') }}">BLOG</a>
        <a href="{{ get_url(path='@/contact.md') }}">CONTACT</a>
    </header>
    {% block content %} {% endblock %}
    <footer>
        {% if config.extra.links %}
        <div class="links">
            {% for link in config.extra.links %}
            <a rel="me" href="{{ link.url }}" title="{{ link.title }}">
                <img alt="{{ link.title }}" class="icon" src="{{ get_url(path='icons/' ~ link.icon ~ '.svg') }}" />
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <div>Copyright © 2025 Rustunit B.V.</div>
    </footer>
</body>

</html>