<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{config.title}}</title>
  <meta name="description" content="{{config.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/style.css">
  {% if current_url %}
  <link rel="canonical" href="{{ current_url | safe }}">
  {% endif %}
  <link rel="icon" href="/favicon.ico" sizes="any">

  <script src="https://cdn.usefathom.com/script.js" data-site="TSUIPVAW" defer></script>
</head>

<body>
  <header>
    <nav>
      <a id="logo" href="/"><img src="/logo.svg" alt="rustunit logo"></a>

      <div class="navbar">
        {% for link in config.extra.ru_nav %}
        <a href="{{ link.path | safe }}">{{ link.name }}</a>
        {% endfor %}
      </div>

      <a id="contact" href="/contact">Get in touch!</a>
    </nav>
    <hr>
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <hr />
    <div id="socials">
      <a href="https://github.com/rustunit" target="_blank"><img src="/icons/github.svg" /></a>
      <a href="https://twitter.com/rustunitcom" target="_blank"><img src="/icons/twitter.svg" /></a>
      <a href="https://www.linkedin.com/company/rustunit" target="_blank"><img src="/icons/linkedin.svg" /></a>
    </div>
    <div>
      © 2024 Rustunit B.V. All rights reserved.
    </div>
  </footer>
</body>

</html>