{% extends "base.html" %}

{% block content %}
<div id="bevy-meetup">
    <h1>Bevy Meetup</h1>

    {% for meetup in section.extra.meetups %}
    <div class="meetup">
        <h2>{{ meetup.title }} <span class="meetup-date">{{ meetup.date }}</span></h2>
        <div class="videos">
            {% for video in meetup.videos %}
            <a href="https://www.youtube.com/watch?v={{ video.youtube_id }}&list={{ meetup.playlist }}" class="video" target="_blank" rel="noopener">
                <img
                    src="{{ get_url(path='meetup/speakers/' ~ video.avatar) }}"
                    alt="{{ video.speaker }}"
                    class="speaker-avatar"
                    loading="lazy"
                />
                <div class="video-info">
                    <div class="video-title">{{ video.title }}</div>
                    <div class="video-speaker">{{ video.speaker }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
