{% extends "base.html" %}

{% block content %}
<div id="bevy-meetup">
    <a href="https://www.meetup.com/bevy-game-development/" target="_blank" rel="noopener" class="corner-ribbon">meetup</a>
    <h1>Bevy Meetup</h1>
    <p class="meetup-cta">Join us for the next one! <a href="https://www.meetup.com/bevy-game-development/" target="_blank" rel="noopener">RSVP on Meetup</a></p>

    {% for meetup in section.extra.meetups %}
    <div class="meetup" id="{{ meetup.title | slugify }}">
        <h2><a href="#{{ meetup.title | slugify }}">{{ meetup.title }}</a> <span class="meetup-date">{{ meetup.date }}</span></h2>
        <div class="videos">
            {% for video in meetup.videos %}
            <a href="https://www.youtube.com/watch?v={{ video.youtube_id }}&list={{ meetup.playlist }}" class="video" target="_blank" rel="noopener">
                <img
                    src="{{ get_url(path='meetup/speakers/' ~ video.avatar) }}"
                    alt="{{ video.speaker }}"
                    class="speaker-avatar"
                    loading="lazy"
                />
                <div class="video-info">
                    <div class="video-title">{{ video.title }}</div>
                    <div class="video-speaker">{{ video.speaker }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
