{% extends "base.html" %}

{% block content %}
<div id="contact">
    <form action="https://api.web3forms.com/submit" method="POST">

        <h1>Contact</h1>

        <input type="hidden" name="access_key" value="9e1b567e-b240-4bd7-8893-d733c5a6a951">
        <input type="hidden" name="from_name" value="rustunit">

        <div class="label">Name</div>
        <input class="field" type="text" name="name" required>
        <div class="label">Email</div>
        <input class="field" type="email" name="email" required>
        <div class="label">Message</div>
        <textarea class="field" name="message" required></textarea>

        <button type="submit">Send</button>
    </form>
</div>
{% endblock content %}