{% extends "base.html" %}

{% block content %}
<main>
    <div class="column left">
        <img src="{{ get_url(path='images/stephan.png') }}" class="portrait" alt="Portrait" />
        <p>I am Stephan, Founder of Rustunit</p>
    </div>
    <div class="column right">
        <img src="{{ get_url(path='images/logo.svg') }}" class="logo" alt="Rustunit" />
        <p>Expertise in Software Development, IT Management Consulting, Open Source, Hiring and Training.</p>

        <div class="contact">
            <a rel="me" href="{{ get_url(path='@/contact.md')  }}" title="contact">
                <img alt="contact" class="icon" src="{{ get_url(path='icons/mail.svg') }}" />
                <div class="contact-us">Contact us!</div>
            </a>
        </div>
    </div>
</main>
<main>
    <div class="clients column left">
        <p>
            Our Clients:
        </p>

        <div class="row">
            <img src="{{ get_url(path='clients/kraken.svg') }}" alt="kraken logo" />
            <img src="{{ get_url(path='clients/gitbutler.svg') }}" alt="gitbutler logo" />
            <img src="{{ get_url(path='clients/mtg.svg') }}" alt="mtg logo" />
            <img src="{{ get_url(path='clients/kolibri.svg') }}" alt="kolibri logo" />
            <img src="{{ get_url(path='clients/ggs.svg') }}" alt="ggs logo" />
            <img src="{{ get_url(path='clients/cratr.svg') }}" alt="cratr logo" />
            <img src="{{ get_url(path='clients/gamigo.svg') }}" alt="gamigo logo" />
            <img src="{{ get_url(path='clients/hyper.svg') }}" alt="hyper logo" />
            <img src="{{ get_url(path='clients/fslabs.svg') }}" alt="fslabs logo" />
            <!-- didi? -->
        </div>
    </div>
    <div class="apps column right" id="games">
        <p>
            Our Mobile Games:
        </p>

        <div class="row">
            <a href="https://zoolitaire.com" class="app">
                <img src="{{ get_url(path='images/zoolitaire.png') }}" alt="zoolitaire icon" />
                <div>zoolitaire.com</div>
            </a>
            <a href="https://tinytakeoff.com" class="app">
                <img src="{{ get_url(path='images/tinytakeoff.png') }}" alt="tinytakeoff icon" />
                <div>tinytakeoff.com</div>
            </a>
        </div>
    </div>
</main>
<main>
    <div class="projects column left">
        <p>
            Featured Open Source Projects:
        </p>

        <div class="row">
            <a href="https://live-ask.com" class="project">
                <div class="project-info">
                    <div class="project-name">live-ask.com</div>
                    <div class="project-description">Real-time Q&A platform for moderating audience questions at events</div>
                </div>
                <img src="{{ get_url(path='images/liveask-logo.svg') }}" class="project-logo" alt="live-ask logo" />
            </a>
            <a href="https://ezli.me" class="project">
                <div class="project-info">
                    <div class="project-name">ezli.me</div>
                    <div class="project-description">Lightning-fast, privacy-focused URL shortening service</div>
                </div>
                <img src="{{ get_url(path='images/ezlime-logo.svg') }}" class="project-logo" alt="ezli.me logo" />
            </a>
            <a href="https://gitui.org" class="project">
                <div class="project-info">
                    <div class="project-name">gitui.org</div>
                    <div class="project-description">Blazing fast terminal UI for Git written in Rust</div>
                </div>
                <img src="{{ get_url(path='images/gitui-logo.png') }}" class="project-logo" alt="gitui logo" />
            </a>
        </div>
    </div>
</main>
{% endblock content %}
